.body_one{
  background-color: rgb(219, 219, 219);
  padding-top: 6vw;
  padding-bottom: 6vw;
  height: auto;
  padding-left: 3vw;
}
.body_title{
  font-size: 7vh;
  font-family: 'Playfair Display', serif;
}
.body_subtitle{
  font-size: 4vh;
  font-family: 'Playfair Display', serif;
}
.body_newpatient{
  font-size: 5vh;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #0d6efd;
}
.body_newdesc{
  font-size: 3vh;
  font-family: 'Playfair Display', serif;
}
.body_returningpatient{
  font-size: 5vh;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #0d6efd;
}
.body_returningdesc{
  font-size: 3vh;
  font-family: 'Playfair Display', serif;
}
.bodytwo_title{
  font-size: 7vh;
  font-family: 'Playfair Display', serif;
  padding-top:6vw;
  padding-top:8vw;
}
.bodytwo_desc{
  font-size: 2.8vh;
  font-family: 'Playfair Display', serif;
}
.bodytwo_info{
  font-size: 2vh;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding-top: 1vw;
}